<title>A day in AFS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="d3.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<a href="/">Home</a>
<a href="/languages">Programming languages</a>
<a href="/editors">Editors</a>
<a href="/creeper">Creeper</a>
<a href="/bubble">Bubble</a>